:root {
  --top-header-bg: hsl(10, 79%, 65%);
  --body-bg: hsl(27, 66%, 92%);
  --chart-container-bg: hsl(33, 100%, 98%);
  --primary-font-color: hsl(25, 47%, 15%);
  --secondary-font-color: hsl(28, 10%, 53%);
  --hover-efect-color: hsl(186, 34%, 60%);
}
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
