@media screen and (min-width: 400px) {
    .main-header {
      max-width: 400px;
      transition: 0.5s all ease;
    }
    .expenses-chart {
      max-width: 400px;
      transition: 1s all ease;
    }
  }
  